<div id="scAbout" class="about">
  <div class="space">
    <div class="grid about__content">
      <div class="cell--5 about__content__picture">
        <div class="about__content__picture__container">
          <div>&nbsp;</div>
          <img alt="Picture Francois" src="assets/img/picture.jpg" />
          <p>Francois Devove</p>
        </div>
        <div class="about__content__contact">
          <a href="https://www.linkedin.com/in/francois-devove/" target="_blank">
            <div>
              <i class="mdi mdi-linkedin"></i>
            </div>
          </a>
          <a href="mailto:francoisdevove@gmail.com?Subject=Hello">
            <div>
              <i class="mdi mdi-gmail"></i>
            </div>
          </a>
          <a href="https://github.com/mrancois" target="_blank">
            <div>
              <i class="mdi mdi-github-circle"></i>
            </div>
          </a>
        </div>
      </div>
      <div class="cell--7 about__content__description">
        <h1 class="block__title">About me</h1>
        <p>
          I am a developer, tech enthusiast. Born and raise in France.
          Living in New-York City. I develop with passion since I’m 15 years old.
          Master degree in Mobility and IoT (Internet of Things). With 3+ years of professional experience.
        </p>
        <p>
          Highly technical Full Stack developer, passionate and creative.
          Enthusiastic to solve complex problems. Working knowledge of Object Oriented Design.
          Great interpersonal communication and presentations skills.
        </p>
        <h2>Current focus:</h2>
        <p><b>React</b> // <b>iOS</b> // <b>Internet of Things (IoT)</b></p>
      </div>
    </div>
  </div>
</div>
