<div class="social">
  <div class="space">
    <a href="https://www.linkedin.com/in/francois-devove/" target="_blank">
      <div>
        <i class="mdi mdi-linkedin"></i>
      </div>
    </a>
    <a href="mailto:francoisdevove@gmail.com?Subject=Hello">
      <div>
        <i class="mdi mdi-gmail"></i>
      </div>
    </a>
    <a href="https://github.com/mrancois" target="_blank">
      <div>
        <i class="mdi mdi-github-circle"></i>
      </div>
    </a>
  </div>
  <p class="social__madeBy">Made with <i class="mdi mdi-heart-outline"></i> by Francois Devove</p>
</div>
