<div id="filters" class="button-group">
  <button class="btn btn-primary" data-filter="*">show all</button>
  <button class="btn btn-primary" data-filter=".web">WEB</button>
  <button class="btn btn-primary" data-filter=".design">DESIGN</button>
</div>

<div class="container-fluid no-gutter" style="padding-top: 50px;">

    <div id="posts" class="row">
        <div id="1" class="item web col-sm-3">
            <div class="item-wrap">
                <img class="img-responsive" src="assets/img/picture.jpg">
            </div>
        </div>
        <div id="2" class="item web col-sm-3">
            <div class="item-wrap">
                <img class="img-responsive" src="assets/img/picture.jpg">
            </div>
        </div>
        <div id="3" class="item design col-sm-3">
            <div class="item-wrap">
                <img class="img-responsive" src="assets/img/picture.jpg">
            </div>
        </div>
        <div id="4" class="item design col-sm-3">
            <div class="item-wrap">
                <img class="img-responsive" src="assets/img/picture.jpg">
            </div>
        </div>
        <div id="5" class="item web col-sm-3">
            <div class="item-wrap">
                <img class="img-responsive" src="assets/img/picture.jpg">
            </div>
        </div>
        <div id="6" class="item design col-sm-3">
            <div class="item-wrap">
                <img class="img-responsive" src="assets/img/picture.jpg">
            </div>
        </div>
        <div id="7" class="item web col-sm-3">
            <div class="item-wrap">
              <img class="img-responsive" src="assets/img/picture.jpg">
            </div>
        </div>
        <div id="8" class="item design col-sm-3">
            <div class="item-wrap">
              <img class="img-responsive" src="assets/img/picture.jpg" title="Can you believe it??">
            </div>
        </div>
    </div>
</div>
